@charset "UTF-8";

@media screen and (min-width:1440px) {
    body,html{
        height: 100vh;
        font-size: 12pt;
    }
    main{
        display: flex;
        flex-direction: row-reverse;
        width: 1100px;
        height: 446px;
    }
    article{
        width: 500px;
        padding: 0px 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: start;
    }
    article > p{
        padding-top: 20px;
    }
    .helpful > h1{
        font-size: 25pt;
        padding-bottom: 20px;
    }
    .info{
        flex-direction: row;
        height: 70px;
        padding-top: 60px;
        justify-content: space-between;
        width: 420px;
    }
    .picture{
        width: 540px;
        height: 446px;
        opacity: 0.5;
        background: url(../images/image-header-desktop.jpg) no-repeat center ;
        background-size: cover;
        background-color: aliceblue;
    }
    .font-gray{
        width: 400px;
    }
}